<tests>

<!--
    Cink basic
-->

  <test
      definition="basic/cink.k"
      programs="basic/programs"
      extension="cink"
      exclude="fact.cink prim.cink"
      >
  </test>

<!--
    Cink threads
-->

  <test
      definition="threads/cink.k"
      programs="threads/programs"
      extension="cink"
      >
  </test>

<!--
    Cink ltlmc
-->

  <test
      definition="ltlmc/cink.k"
      programs="ltlmc/programs"
      extension="cink"
      exclude="form-peterson.cink form-dekker.cink form-threads.cink peterson-wrong1.cink peterson-wrong2.cink" >
      <kompile-option name="-transition" value="kripke" />
      <all-programs>
        <krun-option name="-ltlmc" value="[]Ltl ((eqTo(critical1, 1) ->Ltl eqTo(critical2, 0)) /\Ltl (eqTo(critical2, 1) ->Ltl eqTo(critical1, 0)))" />
      </all-programs>
  </test>

<!--
    Cink pointers
-->
  <test
      definition="pointers/cink.k"
      programs="pointers/programs"
      extension="cink"
      >
  </test>

<!--
    Cink call-by-ref
-->
  <test
      definition="call-by-ref/cink.k"
      programs="call-by-ref/programs"
      extensions="cink"
      >
  </test>
 
</tests>
